<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mapper.UserMapper">
	<select id="selectOne" resultType="User" parameterType="String">
		select * from rent_user where ru_user_name=#{ru_user_name}
	</select>



	
</mapper>